body {
    margin: 0;
    background-color: #f0ee9f;
    text-align: center;
}

.flexUp {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
}

.flexUp > * {
  flex: 1 100%;
  color: #99acb9;
}

.flexUp > div {
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}

.full {
  background-color: #383c67;
  color: #fffebb;
}

.side1 {
  background-color: #383c67;
  flex: 1 auto;
  order: 1;
  color: #ffffff;
}
.mid {
  background-color: #fffed5;
  flex: 20 0px;
  order: 2;
}
.side2 {
  background-color: #383c67;
  flex: 1 auto;
  order: 3;
  color: #ffffff;
}

.footer {
  order: 4;
  background-color: #383c67;
  color: #fffebb;
}

a:visited { text-decoration: none; color: #fffebb; }
a:hover { text-decoration: none; color: #fffebb; }
a:focus { text-decoration: none; color: #fffebb; }
a:hover, a:active { text-decoration: none; color: #fffebb; }

.left{
  justify-content: left;
}