body {
    margin: 0;
    background-color: #fffeb9;
    text-align: center;
}

.flexUp {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
}

.flexUp > * {
  flex: 1 100%;
  color: #99acb9;
}

.flexUp > div {
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}

.full {
  background-color: #608cc3;
}

.side1 {
  background-color: #383c67;
  flex: 1 auto;
  order: 1
}
.mid {
  background-color: #fffed5;
  flex: 4 0px;
  order: 2
}
.side2 {
  background-color: #383c67;
  flex: 1 auto;
  order: 3
}

.footer {
  order: 4
}