body {
    margin: 0;
    background: lightblue;
    text-align: center;
}

.flexUp {
    display: flex;
    flex-flow: row wrap;
}

.flexUp > div {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
  flex-grow: 4;
  flex-basis: auto;
}

.item {
    flex-grow: 4;
    flex-shrink: 2;
    flex-basis: auto;
}